@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
</head>
<body>
    <div class="row">
        <h1 class="text-danger">Error 404</h1>
        <h2 class="text-info">Ooops this page doesn`t exist!</h2>
    </div>
</body>
</html>
