@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restricted Page</title>
</head>
<body>
    <div class="row">
        <h1 class="text-danger">Wrong account type</h1>
        <h2 class="text-info">Your account doesnt have access rights to this page.</h2>
    </div>
</body>
</html>
