@model LabTutor.Models.Application
@{
    ViewBag.Title = "Edit my application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title -->
<h2 class="pageTitle">Edit Application</h2>

<p>Here you can edit your personal profile (limited fields only) and you can edit your preferences for lab tutoring. Instructions for doing so are provided below.</p>

<hr />

<form class="form-horizontal" id="application-form">

    @Html.HiddenFor(model => model.student.studentId, new { id = "studentId" })

    <div class="form-group">
        <label class="control-label col-md-4 col-md-offset-1">National Insurrance Number <span id="optional">(optional <i class="fa fa-question-circle-o"></i>)</span></label>
        <div class="col-md-4">
            <input id="ni" name="NI" class="form-control" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-md-offset-2">Maximum working hours per week</label>
        <div class="col-md-4">
            <input id="maxHour" name="maxHour" class="form-control" type="number">
        </div>
    </div>
    <hr />

    <h4>Instructions on editing preferences</h4>
    <p>The timetable below shows the lab classes that you are currently eligible to be a tutor for. Each lab class is coloured based on the following scheme: </p>
    <p>
        <label class="color_box"><span class="green"></span>Prefer to do:</label> A lab class which you are eligible to tutor and which you have expressed a particular interest in.
    </p>
    <p>
        <label class="color_box"><span class="orange"></span>Prefer <u>NOT</u> to do:</label> A lab class which you feel you definitely wouldn't be a good tutor for.
    </p>
    <p>
        <label class="color_box"><span class="blue"></span>Neutral:</label> A lab class which you are eligible to tutor but do not have preferences either way.
    </p>
    <p>
        <label class="color_box"><span class="grey"></span>My Classes:</label> All classes you may be attending in your current year for your current degree.
    </p>
    <p style="font-weight: bold;">You can click the lab classes below to record any preferences you have. </p>
    <p>
        Click a specified lab class once to make it a "Prefer to do" class. Click the same lab class again to make it a "Prefer not to do" class. If you click for a third time, it will change back to "Neutral".
    </p>

    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active cursorPointer" data-toggle="tab" onclick="tabChange(1)"><a>Semester 1 </a></li>
        <li class="cursorPointer" data-toggle="tab" onclick="tabChange(2)"><a>Semester 2 </a></li>
    </ul>

    <div id='calendar'></div>

    <!-- Legend -->
    <div class='legend row color_box'>
        <div class="col-sm-3">
            <label><span class="green"></span>Prefer to do</label>
        </div>
        <div class="col-sm-3">
            <label><span class="orange"></span>Prefer <u>NOT</u> to do</label>
        </div>
        <div class="col-sm-3">
            <label><span class="blue"></span>Neutral</label>
        </div>
        <div class="col-sm-3">
            <label><span class="grey"></span>My Classes</label>
        </div>
    </div>

    <div class="form-group">
        <div class="alert alert-success alert-dismissible" style="display: none" role="alert" id="semester_two">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Your preference in semester <strong>2</strong> has been saved!
        </div>
        <div class="alert alert-success alert-dismissible" style="display: none" role="alert" id="semester_one">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Your preference in semester <strong>1</strong> has been saved!
        </div>
    </div>

    <div class="row operationalButtons">
        <button type="button" class="btn btn-default left" onclick="location.href='@Url.Action("Index", "Application")'">Cancel</button>
        <button type="submit" id="save_button" class="btn btn-default right">Save</button>
    </div>

</form>



@section Scripts {
    <script src="~/Scripts/CustomJS/Application_Edit.js"></script>
}

