@model LabTutor.Models.Timetable
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="allocation_edit">

    <!-- Page Title -->
    <h2 class="pageTitle">Edit Timetable</h2>

    <!-- semester tabs -->
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="dropdown active">
            <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">Year 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a id="defaultTab" onclick="tabChange(1, 1)" data-toggle="tab" href="#semester1">Semester 1</a></li>
                <li><a onclick="tabChange(1, 2)" data-toggle="tab" href="#semester2">Semester 2</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">Year 2 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a onclick="tabChange(2, 1)" data-toggle="tab" href="#semester1">Semester 1</a></li>
                <li><a onclick="tabChange(2, 2)" data-toggle="tab" href="#semester2">Semester 2</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">Year 3 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a onclick="tabChange(3, 1)" data-toggle="tab" href="#semester1">Semester 1</a></li>
                <li><a onclick="tabChange(3, 2)" data-toggle="tab" href="#semester2">Semester 2</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">Year 4 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a onclick="tabChange(4, 1)" data-toggle="tab" href="#semester1">Semester 1</a></li>
                <li><a onclick="tabChange(4, 2)" data-toggle="tab" href="#semester2">Semester 2</a></li>
            </ul>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="semester1"><p>Semester 1</p></div>
        <div class="tab-pane fade" id="semester2"><p>Semester 2</p></div>
    </div>

    <!-- calendar -->
    <div id='calendar'></div>



    <!-- Operational buttons -->
    <div class="row operationalButtons">
        <button type="button" class="btn btn-default left" onclick="location.href='@Url.Action("Index", "Allocate")'">Go back</button>
    </div>

    <!-- event add dialog -->
    <div id="addDialog" style=" margin: 50px;" title="Add Class">
        <div class="row form-group">
            <label class="col-sm-4">Time:</label>
            <div class="alignLeft "><span id="eventTime"></span></div>
        </div>

        <div class="row form-group">
            <label class="col-sm-4 ">Module:</label>
            <select class="form-control dialog-input" id="moduleList"></select>
        </div>

        <div class="row form-group">
            <label class="col-sm-4 ">Type:</label>
            <label class="radio-inline"><input type="radio" id="type" name="type" value="lab" checked>Lab</label>
            <label class="radio-inline"><input type="radio" id="type" name="type" value="lecture">Lecture</label>
        </div>

        <div class="row form-group">
            <label class="col-sm-4">Number of tutors:</label>
            <input class="form-control dialog-input " type="number" min="0" id="tutorNumber" value="0" required>
        </div>
    </div>

    <!-- event edit dialog -->
    <div id="editDialog" style=" margin: 50px;" title="Edit Class">
        <div class="row form-group">
            <input type="hidden" id="editEventId" />
            <label class="col-sm-4">Time:</label>
            <div class="alignLeft "><span id="editEventTime"></span></div>
        </div>

        <div class="row form-group">
            <label class="col-sm-4 ">Module:</label>
            <select class="form-control dialog-input" id="editModuleList"></select>
        </div>

        <div class="row form-group">
            <label class="col-sm-4 ">Type:</label>
            <label class="radio-inline"><input type="radio" id="type" name="editType" value="lab" checked>Lab</label>
            <label class="radio-inline"><input type="radio" id="type" name="editType" value="lecture">Lecture</label>
        </div>

        <div class="row form-group">
            <label class="col-sm-4">Number of tutors:</label>
            <input class="form-control dialog-input " type="number" min="0" id="editTutorNumber" value="0" required>
        </div>
    </div>


</div>

@section Scripts {
    <script src="~/Scripts/CustomJS/Allocate_Edit.js"></script>

}




