@model LabTutor.Models.Timetable
@{
    ViewBag.Title = "Edit Timetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="allocation_edit">

    <!-- Page Title -->
    <h2 class="pageTitle">Edit Timetable</h2>

    <!-- semester tabs -->
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="dropdown active">
            <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">Year 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a id="defaultTab" onclick="tabChange(1, 1)" data-toggle="tab" href="#semester1">Semester 1</a></li>
                <li><a onclick="tabChange(1, 2)" data-toggle="tab" href="#semester2">Semester 2</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">Year 2 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a onclick="tabChange(2, 1)" data-toggle="tab" href="#semester1">Semester 1</a></li>
                <li><a onclick="tabChange(2, 2)" data-toggle="tab" href="#semester2">Semester 2</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">Year 3 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a onclick="tabChange(3, 1)" data-toggle="tab" href="#semester1">Semester 1</a></li>
                <li><a onclick="tabChange(3, 2)" data-toggle="tab" href="#semester2">Semester 2</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle cursorPointer" data-toggle="dropdown">Year 4 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a onclick="tabChange(4, 1)" data-toggle="tab" href="#semester1">Semester 1</a></li>
                <li><a onclick="tabChange(4, 2)" data-toggle="tab" href="#semester2">Semester 2</a></li>
            </ul>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="semester1"><p>Semester 1</p></div>
        <div class="tab-pane fade" id="semester2"><p>Semester 2</p></div>
    </div>

    <!-- calendar -->
    <div id='calendar'></div>
    <br />

    <!-- Legend -->
    <div class='legend row color_box'>
        <div class="col-sm-6">
            <label><span class="green"></span>Lab</label>
        </div>
        <div class="col-sm-6">
            <label><span class="blue"></span>Lecture</label>
        </div>
    </div>

    <!-- Operational buttons -->
    <div class="row operationalButtons">
        <button type="button" class="btn btn-default left" onclick="location.href='@Url.Action("Index", "Allocate")'">Go back</button>
    </div>


    <!-- add class modal -->
    <div class="modal fade" id="add_class_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="add_class_form" role="form" class="form-horizontal">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Class</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row form-group">
                            <label class="col-sm-3 col-sm-offset-1">Time:</label>
                            <div class="col-sm-4"><span id="add_time"></span></div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-3 col-sm-offset-1 ">Module:</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="add_moduleList"></select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-3 col-sm-offset-1 ">Type:</label>
                            <div class="col-sm-4">
                                <label class="radio-inline"><input type="radio" name="type" value="lab" checked>Lab</label>
                                <label class="radio-inline"><input type="radio" name="type" value="lecture">Lecture</label>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-3 col-sm-offset-1">Number of tutors:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="number" min="0" id="add_tutorNumber" value="0" name="tutorNumber">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="add_class_button">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- edit class modal -->
    <div class="modal fade" id="edit_class_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="edit_class_form" role="form" class="form-horizontal">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Class</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row form-group">
                            <input type="hidden" id="edit_classId" />
                            <label class="col-sm-3 col-sm-offset-1">Time:</label>
                            <div class="col-sm-4"><span id="edit_time"></span></div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-3 col-sm-offset-1 ">Module:</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="edit_moduleList"></select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-3 col-sm-offset-1 ">Type:</label>
                            <div class="col-sm-4">
                                <label class="radio-inline"><input type="radio" name="type" value="lab" checked>Lab</label>
                                <label class="radio-inline"><input type="radio" name="type" value="lecture">Lecture</label>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-3 col-sm-offset-1">Number of tutors:</label>
                            <div class="col-sm-7">
                                <input class="form-control" type="number" min="0" id="edit_tutorNumber" value="0" name="tutorNumber">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>                                           
                        <button type="button" class="btn btn-danger" id="delete_class_button">Delete</button>
                        <button type="submit" class="btn btn-primary" id="edit_class_button">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/CustomJS/Timetable_Edit.js"></script>

}




