

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navbar-right p {
    color: #999;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.cursorPointer {
    cursor: pointer;
}

.pageTitle {
    margin: 40px 0 25px 0;
}

.operationalButtons {
    margin: 30px 0;
}

#main-page-content {
    font-size: 16px;
    color: #888;
    line-height: 30px;
}

tutorName {
    color: black;
}

/*#region Login/Register modal*/
#login-modal .modal-content {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 0;
    width: 82%;
    left: 9%;
}

#login-modal .modal-header {
    padding: 0px;
    border: 1px;
    height: 50px;
    font-size: 20px;
}

    #login-modal .modal-header li:first-child a {
        border-top-left-radius: 20px;
    }

    #login-modal .modal-header li:last-child a {
        border-top-right-radius: 20px;
    }

#login-modal .modal-body {
    padding: 35px 0px 0px 0px;
}

    #login-modal .modal-body .radio {
        display: inline;
        margin-right: 5px;
    }

    #login-modal .modal-body .control-label {
        text-align: left;
    }

    #login-modal .modal-body #degree-label {
        padding-top: 0;
    }

    #login-modal .modal-body .input-field {
        padding-left: 0;
    }

    #login-modal .modal-body .bottom-buttons {
        margin-top: 30px;
    }

    #login-modal .modal-body .submit-button {
        height: 45px;
        float: right;
        width: 50%;
        margin: 0;
        -moz-border-radius: 0 0 20px 0;
        -webkit-border-radius: 0 0 20px 0;
        border-radius: 0 0 20px 0;
    }

    #login-modal .modal-body .cancel-button {
        height: 45px;
        width: 50%;
        margin: 0;
        -moz-border-radius: 0 0 0 20px;
        -webkit-border-radius: 0 0 0 20px;
        border-radius: 0 0 0 20px;
    }

    #login-modal .modal-body .error_message {
        padding: 5px 5px;
        display: none;
    }

/*#endregion Login/Register modal*/


/*#region Calendar*/
#calendar {
    margin: 0 auto;
}

.fc-event {
    cursor: pointer;
}

.noCursorPointer .fc-event {
    cursor: default;
}

tutorName {
    color: black;
}
/*#endregion Calendar*/


/*#region Legend*/
.legend {
    margin: 15px 0px;
    text-align: center;
}

    .legend span {
        display: block;
        float: left;
        height: 16px;
        width: 30px;
        margin-right: 10px;
        border: 1px solid #999;
    }

    .legend .blue {
        background: #3a87ad;
    }

    .legend .orange {
        background: #ff9933;
    }

    .legend .green {
        background: #86b300;
    }

    .legend .grey {
        background: #8c8c8c;
    }
/*#endregion Legend*/


/*#region Modal*/
.modal {
    text-align: center;
}

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }

    .modal .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
/*#endregion Modal*/


/*#region Allocation_Index*/
   .allocation_index thead {
        background-color: #deedf7;
    }

    .allocation_index #modalTable {
        margin: 0px 15px;
        width: 95%;
    }

    .allocation_index .modal-body {
        margin: 10px;
    }
/*#endregion Allocation_Index*/

/*#region Allocation_Edit*/
    .allocation_edit .alignRight {
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .allocation_edit .alignLeft {
        text-align: left;
        padding-bottom: 10px;
    }

    .dialog-input {
        width: 60%;
    }

    .allocation_edit #moduleList{
        font-size: 90%;
    }

    .allocation_edit option {
        font-size: 90%;
    }


/*#endregion Allocation_Edit*/