@{
    ViewBag.Title = "Home";
}

<!-- Page Title -->
<h2 class="pageTitle unpublished" hidden>Welcome to the Lab Tutor Enrolment and Allocation System!</h2>
<h2 class="pageTitle published" hidden>Lab Tutor Allocation</h2>

<div class="unpublished" hidden style="font-size: 17px;">
    <p>Please <a class="cursorPointer js-register-link" data-toggle="modal" data-target="#login-modal">register</a> to apply or <a class="cursorPointer js-login-link" data-toggle="modal" data-target="#login-modal">log in</a> to modify your application. </p>
    <p>The allocation will be published on <strong>07/09/2016</strong>. Please note the date and check the website then!</p>
    <p><i class="fa fa-info-circle"></i> Chrome and FireFox are recommended for your better user experience through the website.</p>
</div>


<ul class="nav nav-tabs published" style="margin-bottom: 15px;" hidden>
    <li class="active cursorPointer" data-toggle="tab" onclick="tabChange(1)"><a>Semester 1 </a></li>
    <li class="cursorPointer" data-toggle="tab" onclick="tabChange(2)"><a>Semester 2 </a></li>
</ul>

<div id='calendar'></div>


<div class="published" hidden style="margin: 30px 0;">
    <h4 style="font-size: 17px;">Chrome and FireFox are recommended for your better user experience through the website.</h4>
    <h4 style="font-weight:bold; font-size: 17px;">Please double check the time of the lab classes that you will tutor on the <a href="https://timetable.dundee.ac.uk/Scientia/SWS/Dundee1617/" target="_blank">official timetable</a> or make direct contact with the lecturers through provided emails.</h4>
    <h4 style="font-size: 17px;">You can <a class="cursorPointer js-login-link" data-toggle="modal" data-target="#login-modal">log in</a> to view more details!</h4>
</div>



@section Scripts {
    <script src="~/Scripts/CustomJS/Home_Index.js"></script>
}