@{
    ViewBag.Title = "Home Page";
}

<!-- Page Title -->
<h2 class="pageTitle">Allocation</h2>

<div class="unpublished" hidden id="main-page-content">
    <p>Please <a class="cursorPointer js-register-link" data-toggle="modal" data-target="#login-modal">register</a> to apply or <a class="cursorPointer js-login-link" data-toggle="modal" data-target="#login-modal">log in</a> to modify your application. </p>
    <p>The allocation will be published on <strong>07/09/2016</strong>. Please note the date and check the website then!</p>
</div>


<ul class="nav nav-tabs published" style="margin-bottom: 15px;" hidden>
    <li class="active cursorPointer" data-toggle="tab" onclick="tabChange(1)"><a>Semester 1 </a></li>
    <li class="cursorPointer" data-toggle="tab" onclick="tabChange(2)"><a>Semester 2 </a></li>
</ul>

<div id='calendar'></div>

<br/>

<div class="published" hidden>
    <h4><bold>Please <a class="cursorPointer js-login-link" data-toggle="modal" data-target="#login-modal">log in</a> to view more details!</bold></h4>
</div>

<br />

@section Scripts {
    <script src="~/Scripts/CustomJS/Home_Index.js"></script>
}