
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Allocation</h2>

<button class="btn btn-default">Create Allocation Scheme</button>
<button class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Timetable")'">Edit Timetable</button>

